{% extends 'base.html' %}

{% block tituloPagina %} Titulo {% endblock %}

{% block contenido %}
<main role="main">
    <h1 class="text-center">Busqueda por Título</h1>
    <form action="/buscarTitulo/" method="post">
      {% csrf_token %}
      {{form}}
      <input type='submit' value='Buscar'/>
    </form>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
    {% for juego in juegos %}
    <div class="col-md-4">
        <div class="card mb-4 box-shadow">
          <img class="card-img-top img-fluid"  alt="{{juego.nombre}}" style="max-height: 225px  !important; 
          width: auto !important;
          margin: auto !important;
          display: block !important;" src="{{juego.urlImg}}">
          <div class="card-body">
            <p class="card-text">{{juego.nombre}}</p>
            <p style="color: #{% if juego.tienda.tienda == 'Eneba' %}C733FF{% else %}FFB233{% endif %}">{{juego.tienda}}</p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <a href="{{juego.url}}"><button type="button" class="btn btn-sm btn-outline-secondary">Tienda</button></a>
                <a href="/juegos/juego/{{juego.id}}"><button type="button" class="btn btn-sm btn-outline-secondary">Detalles</button></a>
              </div>
              <small class="text-info">-{{juego.descuento}}%</small>
              <small class="text-success">{{juego.precio}}€</small>
            </div>
          </div>
        </div>
      </div>
    {% empty %}
    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}

{% block encabezado %}
<p>Esto es el encabezado</p>
    {% endblock %}