{% extends 'base.html' %}

{% block tituloPagina %} Buscar Plataforma {% endblock %}

{% block contenido %}
<main role="main">
    <h1 class="text-center">Buscar por plataforma</h1>
    <form action="/buscarPlataforma/" method="post">
      {% csrf_token %}
      {{form}}
      <input type='submit' value='Buscar'/>
    </form>
    <div class="album py-5" style="background-color: #272626;">
            <div class="container">
                <div class="row">
    {% for juego in juegos %}
    {% include "card.html" %}
    {% empty %}
    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}