{% extends 'base.html' %}

{% block tituloPagina %} Inicio {% endblock %}

{% block contenido %}
<main role="main">
    <h1 class="text-center">Juegos más recientes</h1>
        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
    {% for juego in juegos %}
    {% include "card.html" %}
    {% empty %}
    <h4>No se ha cargado ningun juego todavía</h4>
    {% endfor %}
                </div>
            </div>
        </div>
    </main>
{% endblock %}